{% extends "base.html" %}
{% block title %}<title>Технологии</title>{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p> В работе над проектом YAtube были использованы популярные IT-технологии. Основой проекта стал фреймворк Django. 
      При работе на сайте может показаться, что на него не было затрачено много времени, однако это не так. 
      Все, что на данный момент может сайт было написано в течении многих часов. Много часов автор проекта исправлял ошибки, опечатки и баги. 
      Описывал базу данных и формы, которые может заполнять пользователь. 
      Редактировал ссылки между страницами. Для того чтобы дорогой пользователь мог легко и удобно использовать все предлагаемые автором функции.</p>
  </article>
</div>
{% endblock %}